# .env.example
# Configurações do Supabase
SUPABASE_URL=https://hfislrtjoyfywiyyoccg.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmaXNscnRqb3lmeXdpeXlvY2NnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYyODIwMTQsImV4cCI6MjA2MTg1ODAxNH0.3trjCNxRxBx_7swwC_wsZ4Xonn06o7NiQbf6BgFbung

# Configurações de segurança
SECRET_KEY=chave_secreta_para_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Configurações do servidor
PORT=8000
HOST=0.0.0.0
